<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pwned Application Test Suite" parallel="none" thread-count="1" verbose="1">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Pwned Application - Verification of Email IDs">
        <classes>
            <class name="com.haveibeenpwned.test.PwnedTest"/>
        </classes>
    </test>

</suite>